@font-face {
  font-family: "Source Sans Pro";
  src: url("Fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf");
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("Fonts/Source_Sans_Pro/SourceSansPro-Light.ttf");
  font-weight: lighter;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("Fonts/Source_Sans_Pro/SourceSansPro-Black.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("Fonts/Source_Code_Pro/SourceCodePro-Regular.ttf");
}

@font-face {
  font-family: "Barlow";
  src: url("Fonts/Barlow/Barlow-Regular.ttf");
}

@font-face {
  font-family: "Barlow";
  src: url("Fonts/Barlow/Barlow-Light.ttf");
  font-weight: lighter;
}

@font-face {
  font-family: "Barlow";
  src: url("Fonts/Barlow/Barlow-Bold.ttf");
  font-weight: bold;
}


