/**** 0. Main Document Layout ****/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;
}

body,
html {
  margin: 0;
  padding: 0;
  color: black;
  background-image: radial-gradient(rgba(0, 0, 0, 0.2) 3%, white 0);
  background-attachment: fixed;
  background-position: center;
  background-size: 2.5rem 2.5rem;
  font-size: 20px;
  line-height: 1.9em;
  font-family: Source Sans Pro, Sans-Serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-weight: 400;
  font-family: Barlow;
}

.section {
  margin: 0;
  width: 100%;
}

a:link,
a:hover,
a:visited {
  text-decoration: underline;
  color: black;
}

a:active {
  text-decoration: underline;
}

code {
  font-family: Source Code Pro;
  font-size: 0.8em;
  padding: 0.1em 0.3em;
  background-color: gainsboro;
  border-radius: 2px;
  tab-size: 4;
}

/* 1. Post Title & Header */

/* 1.1 General Formatting */

.section--top {
  height: 31rem;
  padding-top: 5rem;
  text-align: center;
  background-color: #233151;
}

.top-wrapper {
  margin: 0 auto;
  width: 40rem;
}

.top-wrapper span {
  color: white;
  font-family: Barlow;
  font-size: 3em;
  text-transform: capitalize;
}

/* 1.2 Content Formatting */

.section--content {
  height: auto;
}

.text-wrapper {
  margin: 1em auto;
  width: 35.2rem;
  background-color: white;
}

.display-wrapper {
  margin: 0 auto;
  width: 45.2rem;
}

.display-wrapper img {
  width: 100%;
  height: auto;
  border: 5px solid #2c3e68;
}

.codeblock {
  width: 100%;
  padding: 1rem 0;
  background-color: gainsboro;
}

.codeblock .text-wrapper {
  background-color: transparent;
}

.codeblock .text-wrapper pre {
  line-height: 1;
}

.codeblock .text-wrapper pre code {
  background-color: transparent;
}
