/**** 0. Main Document Layout ****/
:root {

    --font-color: white;
    --base-color: #233151;
    --base-color-2: #2c3e68;
    --secondary-2: #6960BE;
    --secondary-1: #F8BBD0;
    --primary-1: #Fcc176;
}

body,
html {
    font-family: Open Sans;
    margin: 0;
    padding: 0;
    background-color: var(--base-color);
    color: var(--font-color);
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
    font-family: Roboto;
}

.wrapper {
    overflow: hidden;   
}

.panel {
    display: grid;
    padding: 3rem 1rem;
    margin: 0;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1.5em;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.panel-heading {
    grid-column: span 12;
    text-align: center;
}

.panel-heading h1 {
    text-transform: uppercase;
}

.panel-heading hr {
    border: none;
    height: .2em;
    width: 25%;
    background-color: white;
}

/**** 1. Home Page/Top Panel ****/

/* 1.1 Container Sizing and Background */
.home {
    height: 100vh;
    box-sizing: border-box;
    text-align: center;
}

.bg-gradient {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient(to top, var(--secondary-1), darkslateblue);
    animation: fadein 2s ease-out forwards 1.5s;
}

@keyframes fadein {
    to {
        opacity: 1;
    }
}

/* 1.2 Logobox */
.logobox {
    grid-column: 5 / span 4;
    width: auto;
    height: auto;
    position: relative;
    top: 10%;
}

.logobox p {
    font-family: Roboto;
    font-size: 1.5em;
    text-transform: uppercase;
    /* font-weight: 100; */
}

#home-logo {
    height: auto;
    width: 100%;
    max-width: 12.5em;
    opacity: 1;
}

/* 1.3 Skyline SVG Animation */
.skyline {
    position: absolute;
    left: 0;
    bottom: 3em;
}

#skyline-path {
    fill: var(--base-color);
    stroke: var(--font-color);
    stroke-width: 5px;
    stroke-dasharray: 0 70000;
    stroke-dashoffset: -3200;
    animation: dash 2.5s ease-out forwards;
}

@keyframes dash {
    to {
        stroke-dasharray: 6400 70000;
        stroke-dashoffset: 0;
    }
}



/**** 2. Navigation Bar ****/

/* 2.1 General - Positioning, Sizing, Stickiness */
.nav-bar {
    margin: 0;
    padding: 1em;
    padding-bottom: 0;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 3em;
    background-color: var(--base-color);
    text-align: center;
    z-index: 10;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

/* 2.2 Navbar Logo & Navbar Toggle */
#nav-logo {
    width: 3.33em;
    height: 2em;
    position: absolute;
    top: .5em;
    left: 1em;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s linear 0s;
    -webkit-transition: opacity .3s linear 0s;
    /* Safari */
}

#nav-toggle {
    width: 2em;
    height: 2em;
    position: absolute;
    top: .5em;
    right: 1em;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s linear 0s;
    -webkit-transition: opacity .3s linear 0s;
    /* Safari */
    z-index: 11;
}

/* 2.3 Navbar Menu & Links */

.nav-menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: white;
    opacity: .75;
    display: none;
}

.nav-link:hover {
    opacity: 1;
}

.sticky .nav-menu .nav-link.active {
    margin-bottom: 1em;
    display: block;
}

.sticky .nav-menu .nav-link.current {
    margin-bottom: 1em;
    display: block;
    opacity: 1;
}

/* 2.4 Navbar Stickiness */
.nav-bar.sticky {
    position: fixed;
    top: 0px;
}

.sticky #nav-logo, .sticky #nav-toggle {
    visibility: initial;
    opacity: .75;
}

/**** 3. About Me ****/

/* 3.1 General Position, Grid Definition */
.about hr {
    background-color: var(--primary-1);
}

/* 3.2 Portrait */
.portrait {
    grid-column: 2 / span 10;
}

.portrait img {
    object-fit: cover;
    width: 100%;
    height: auto;
    border: 1px solid var(--font-color);
}

/* 3.3 Mission Statement */
.mission-statement {
    text-align: center;
    grid-column: span 12;
}

/* 3.4 Bio */
.bio {
    text-align: left;
    grid-column: span 12;
}

/* 3.5 Social Media Links */
.socialmedia {
    grid-column: span 12;
    text-align: center;
}

.socialmedia ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.socialmedia li {
    display: inline-block;
    margin: 0.5em .5em;
    vertical-align: top;
}

.socialmedia img {
    height: auto;
    width: 2em;
    opacity: .75;
    transition: opacity .3s linear 0s;
    -webkit-transition: opacity .3s linear 0s;
    /* Safari */
}

.socialmedia img:hover {
    opacity: 1;
}

/**** 4. Skills ****/

/* 4.1 General Formatting */
.skills {
    text-align: center;
    background-color: var(--base-color-2);
}

.skills hr {
    background-color: var(--secondary-1);
}

/* 4.2 Simple Content Layout */
.skills-content {
    grid-column: span 12;
}

/* 4.3 List of Coding Languages */
.code-list {
    list-style: none;
    padding: 0;
}

.code-list li {
    padding: .5em .5em;
    display: inline-block;
    font-weight: bold;
}

.code-list li.inprogress {
    opacity: .5;
}

.skills-content h5 {
    margin: 0;
    text-align: right;
    opacity: .5;
}

/* 4.4 List of Tools */
.tools-list {
    columns: 2;
    text-align: center;
    column-width: 50px;
}

/**** 5. Experience ****/

/* 5.1 General Formatting */
.experience hr {
    background-color: var(--secondary-2);
}

/* 5.2 Sidebar & Pic formatting */
.exp-sidebar {
    position: relative;
    grid-column: span 3;
    grid-row: span 2;
    text-align: center;
}

.sidebar-line {
    display:inline-block;
    width: 2px;
    height: 100%;
    background-color: var(--secondary-1);
}

.sidebar-frame {
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 100%;
    border: 2px solid var(--secondary-1);
    border-radius: 50%;
    background-size: cover;
}

/* 5.3 Sidebar Content */
.exp-content {
    grid-column: span 9;
}

.exp-skills {
    grid-column: span 9;
}

/**** 6. My Work ****/

/* 7.1 General Formatting */
.work {
    background-color: var(--base-color-2);
}

.work hr {
    background-color: var(--primary-1);
}

.work-content {
    grid-column: span 12;
}


/**** 6. Contact Me ****/

/* 6.1 General Formatting */
.contact {
    background-color: var(--base-color);
}

.contact hr {
    background-color: var(--secondary-1);
}

/* 6.2 Contact Me Social Media Links */
.contact-media {
    grid-column: span 12;
}

/* 6.3 Contact Me Form */
.contact-form {
    grid-column: span 12;
    text-align: left;
}

/* 6.4 Text Outline Animation */

.txtfield {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.txtfield textarea,
.txtfield input {
    background-color: var(--base-color-2);
    color: white;
    border: 2px solid transparent;
    font-family: inherit;
    width: 100%;
    margin: 0;
    padding: .35em .45em;
    box-sizing: content-box;
}

.txtfield textarea:focus,
input:focus {
    outline: none;
}

.txtfield textarea {
    height: 12.5em;
    vertical-align: top;
    resize: none;
}

.txtfield span {
    position: absolute;
    background-color: white;
    transform-origin: center;
    transition: transform 0.3s ease;
}

.outline-bottom,
.outline-top {
    height: 1px;
    left: 0;
    right: 0;
    transform: scaleX(0);
}

.outline-left,
.outline-right {
    width: 1px;
    top: 0;
    bottom: 0;
    transform: scaleY(0);
}

.outline-top {
    top: 0;
}

.outline-bottom {
    bottom: 0;
}

.outline-left {
    left: 0;
}

.outline-right {
    right: 0;
}

textarea:focus~.outline-top,
textarea:focus~.outline-bottom,
input:focus~.outline-top,
input:focus~.outline-bottom {
    transform: scaleX(1);
}

textarea:focus~.outline-left,
textarea:focus~.outline-right,
input:focus~.outline-left,
input:focus~.outline-right {
    transform: scaleY(1);
}

@media only screen and (max-width: 600px) {
}